<ion-tabs>
  <ion-tab-bar slot="bottom" class="pb-[0.5rem]">
    <ion-tab-button tab="catalogo" routerLink="/home/catalogo" routerDirection="root">
      <mat-icon class="material-symbols-rounded">add_business</mat-icon>
      <ion-label>Catalogo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos" routerLink="/home/pedidos" routerDirection="root">
      <mat-icon class="material-symbols-rounded">list_alt</mat-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entregas" routerLink="/home/entregas" routerDirection="root">
      <mat-icon class="material-symbols-rounded">delivery_truck_speed</mat-icon>
      <ion-label>Entregas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/home/perfil" routerDirection="root">
      <mat-icon class="material-symbols-rounded">account_circle</mat-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
